.approved {
  position: absolute;
  top: 30%;
  left: 3.5%;
  height: 15%;
  width: 3%;
}
.addImage {
  position: absolute;
  background-color: #eff2f7;
  top: 45%;
  left: 45%;
  height: 10%;
  width: 10%;
}
.image-lst {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}
